/* 
    Created on : Mar 31, 2017, 4:29:21 PM
    Author     : Austin
*/
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

body{
    background-color: lightgray;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}



li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #cc0000;
}

.loginBar{
    width: 90%;
    margin:auto;
}
.peeps{
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 10px;
}

.peeps table{
    margin: auto;
}
img {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hdr{
    text-align: center;
}

.frmRegDiv{
    display: block;
    text-align: center;
}

.frmReg{

    margin-left: 25%;
    margin-right:25%;
    width: 50%;


}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 40%;
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: red;
}


table{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
th{
    background-color: #cc0000;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
td{
    height: 50px;
    text-align: left;
}
tr{
    margin-left: auto;
    margin-right: auto;
}

tr:nth-child(odd) {
    background-color: #ffffff;

}